<div ng-controler="mainCtrl" style="height:100%;margin-top:80px;">

        <div id="table-wrap" style="width:95%;margin:0 auto;background-color:white; max-height:85vh; overflow:auto; padding:10px; border-radius:2px;">

        <table ng-table="options" class="table table-condensed table-bordered table-hover">
          <!-- <colgroup>
            <col width="60%" />
            <col width="20%" />
            <col width="20%" />
          </colgroup> -->
          <tr class="ng-table-group" ng-repeat-start="group in $groups">
            <td colspan="2">
              <a href="" ng-click="group.$hideRows = !group.$hideRows">
                <!-- <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span> -->
                <strong>{{ group.value }}</strong>
              </a>
            </td>
          </tr>
          <tr ng-hide="group.$hideRows" ng-repeat="unity in group.data" ng-repeat-end>

            <td data-title="'Version'" sortable="'version'" groupable="'version'">
              {{unity.version}}
            </td>
            <td sortable="'path'" data-title="'path'" groupable="'path'">
              {{unity.path}}
            </td>
          </tr>
        </table>
       </div>
       <script>
        //    (function(){

        //        var h = $(window).height();
        //        if(h<$("#table").height()){
        //         $("#table-wrap").outerHeight(h-200);
        //        }else{
        //         $("#table-wrap").outerHeight($("#table").height());
        //        }

        //    })()

        //    $(window).resize(function(){
        //         var h = $(window).height();
        //         if(h<$("#table").height()){
        //             $("#table-wrap").outerHeight(h-200);
        //         }else{
        //             $("#table-wrap").outerHeight($("#table").height());
        //         }
        //    })
       </script>
</div>
